/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-grow: 1;
  width: 100%;
}

.not-found-image {
  width: 280px;
  height: 280px;
}

.not-found-heading {
  color: #333333;
  font-weight: normal;
}

.not-found-para {
  color: #334155;
}
